
td {
  padding: 5px;
}
.number {
  width: 120px;
}
.error {
  color: green;
  background: darkslategrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

